

#sign_in2
  .container
    .row.login
      .span5.left_box
        %h4 Create your account
        .perk_box
          .perk
            %span.icos.ico1
            %p
              %strong Lorem alteration
              in some form  injected humour these randomised words .
          .perk
            %span.icos.ico2
            %p
              %strong There are many variations
              of passages of Lorem alteration in some form  injected humour these randomised words.
          .perk
            %span.icos.ico3
            %p
              %strong Alteration in some form
              injected humour these randomised words.
      .span6.signin_box
        .box
          .box_cont
            .social
              %a.circle.facebook{:href => user_omniauth_authorize_path(:facebook)}
                %img{:alt => "", :src => asset_path("face.png")}/
              %a.circle.twitter{:href => user_omniauth_authorize_path(:twitter)}
                %img{:alt => "", :src => asset_path("twt.png")}/
              %a.circle.gplus{:href => user_omniauth_authorize_path(:gplus)}
                %img{:alt => "", :src => asset_path("gplus.png")}/
            .division
              .line.l
              %span or
              .line.r
            .form
              = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
                = devise_error_messages!
                = f.text_field :email, :autofocus => true, :placeholder => "Email"
                = f.password_field :password, :placeholder => "Password"
                = f.password_field :password_confirmation, :placeholder => "Confirm Password"
                .forgot
                  %span Already have an account?
                  %a{:href => new_user_session_path} Sign In
                %input{:type => "submit", :value => "sign up"}/