<!DOCTYPE html>
<html ng-app="operator">
  <head>
    <title>Godchat | Dashboard</title>
    <%= stylesheet_link_tag "operators/application", :media => "all" %>
    <%= csrf_meta_tags %>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="God Chat"/>
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:image" content="<%= asset_url('avatar.png') %>">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="pull_top">
    <div class="content">
      <%= yield %>
    </div>
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script>
      var visitors = <%= @visitors.to_json.html_safe %>;
      var current_user = <%= current_user.to_json.html_safe %>;
      current_user.fb_id = current_user.uid;
    </script>
    <%= javascript_include_tag "operators/application" %>
    <%= airbrake_javascript_notifier %>
  </body>
</html>
