<!DOCTYPE html>
<html ng-app="visitor">
  <head>
    <title>Godchat | Conversation</title>
    <%= stylesheet_link_tag "visitors/application", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body class="pull_top">
    <div class="content">
      <%= yield %>
    </div>
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script>
      <%  conversation = current_visitor.conversations.first %>
      var users = [<%= conversation.visitor.attributes.merge(channel: conversation.channel).to_json.html_safe %>];
      var current_visitor = <%= current_visitor.to_json.html_safe %>;
      current_visitor.uid = current_visitor.fb_uid;
    </script>
    <%= javascript_include_tag "visitors/application" %>
    <%= airbrake_javascript_notifier %>
  </body>
</html>
